<mat-toolbar color="primary">
 Reports
</mat-toolbar>
<div class="content"  >
  <div class="container">
  <mat-card   *ngFor="let report of reports let i = index">

    <mat-card-content>

        <div class="item">Id : {{report?.id}}</div>
        <div class="item">Type : {{report?.payload?.reportType}}</div>
        <div class="item">state :  {{report?.state}}</div>
        <div class="item">Message : {{report?.payload?.message}}</div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="updateTicket(report.id, 'Closed')">Resolve</button>
      <button mat-raised-button color="warn" *ngIf="report.state!=='Blocked'" (click)="updateTicket(report.id, 'Blocked')">Block</button>
    </mat-card-actions>

  </mat-card>
</div>
</div>
